.hg
*.svn
*.pyc
*~
.project
.pydevproject
.settings
nbproject

tmp
libraries-local

pushgit
pushhg
pushreg
pbackup
mcmd.py
dbconfig_local.py

pip-log.txt
build
ppreadme.py
ppdocs.py
common.css
screen.css
README.html
DOCS.html

