.hg
*.svn
*.pyc
*~
.project
.pydevproject
.settings
nbproject

tmp
libraries-local

pushgit
pushhg
pushreg
pbackup
mcmd.py
dbconfig_local.py
diffmanagement
scrapbook.py

pip-log.txt
build
ppreadme.py
ppdocs.py
common.css
screen.css

.coverage
bin/
distribute-0.6.10.tar.gz
htmlcov/
include/
lib/

MANIFEST
dist/
*.egg-info
.tox/
