include README.rst
include LICENSE
recursive-include docs *.rst
recursive-include polymorphic/static *.js *.css
recursive-include polymorphic/templates *.html
recursive-include polymorphic/locale *.po
recursive-include example *.py
recursive-include example *.txt
include runtests.py
include tox.ini
recursive-include polymorphic/tests *.py
