name: Release
on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  Build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3"
          cache: pip
          cache-dependency-path: setup.cfg
      - name: Setup Just
        uses: extractions/setup-just@v3
      - run: sudo apt-get update && sudo apt-get install -y --no-install-recommends gettext
      - run: just build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
